/* You can add global styles to this file, and also import other style files */
.sign
{
    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#particle
{
    min-height: 100vh;
}
